.logo1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
}
.logo1 {
    width: 111px;
    height: 29.054px;
    flex-shrink: 0;
    margin-top: 197px;
    margin-bottom: 128px;
}


  .login-form div {
  
    margin-bottom: 5px;

  }
  
  
  .login-form label {
    display: block;

    margin-bottom: 5px;
    color: #555;
    font-family: Spoqa Han Sans Neo;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
  }
  
  .login-form input {
    position: relative;
    font-size: 16px;
    border-radius: 4px;
    
    width: 320px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 2px solid #DFDFDF;
  }
  
  .login-form button {
    position: relative;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 320px;
    height: 50px;
    flex-shrink: 0;
    margin-top: 24px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    background: var(--main, #A5CC2B);
    cursor: pointer;
  }



  
  
  