
.splashButton {
    text-align: center;
  }
  
  button {
    position: relative;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 320px;
    height: 48px;
    flex-shrink: 0;
    margin-top: 216px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    background: var(--main, #A5CC2B);
    cursor: pointer;
  }
  