.App {
  text-align: center;
}

/* 이미지에 직접 text-align 속성을 적용하지 않음 */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  /* animation 스타일 등 추가 스타일들을 유지합니다. */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* src/App.css */
.App {
  text-align: center;
  width: 390px; /* 아이폰 12 Pro의 너비와 맞춥니다. */
  height: 844px; /* 아이폰 12 Pro의 높이와 맞춥니다. */
  margin: 0 auto; /* 가운데 정렬을 위해 margin을 설정합니다. */
  background-color: #f5f5f5; /* 배경색을 설정합니다. */
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(12, 11, 11);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}